:root {
    --primary: #0c3a46;
    --primary-color: 15,108,122;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0c2a36;
    color: white;
}

hr {
    background: white;
}

.header {
    background-color: #0c3a46;
}

.toast {
    margin: 10px;
    background-color: #0c3a46;
    color: white;
    border: 1px solid aquamarine;
    border-radius: 5px;
    width: 250px;
}

.toast>.toast-header {
    background-color: #0f6c7a;
    color: white;
}

.index_main_content {
    margin-top: 5%;
}

.timer {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 24px;
}

.counters {
    color: white;
    height: auto;
    width: auto;
    border: 3px solid aquamarine;
    border-radius: 10px;
    background-color: #0f6c7a;
}

.counters>.fCounter {
    border-right: 1px solid mediumaquamarine;
}

#outputDict {
    height: auto;
    min-height: 87px;
}

.btn-delete {
    height: 15px;
    width: 15px;
    font-size: 7px;
    margin-left: 7px;
}

.footer {
    color: #ffffff;
    border-left: 2px solid aquamarine;
    border-right: 2px solid aquamarine;

}

.footer a {
    color: aquamarine;
}

a {
    color: #7dffbd;
}

.gitlogo {
    height: 50px;
    width: 100px;
    border-radius: 15px;
}

.logo {
    height: 40px;
    margin: 5px;
}

.date-info {
    font-size: 20px;
    color: #808080;
}

.col-md-9 {
    border-radius: 0px 50px 50px 0px;
    background-color: #0c2a36;
}

.content__header {
    padding-top: 40px;
}

.content__greeting {
    height: 160px;
    background-color: #0c3a46;
    border-radius: 20px;
    margin-bottom: 40px;
}

.content__body {
    margin: 50px;
}

.greeting {
    margin: 40px;
}

.greeting div {
    margin: 10px;
}

.content__title{
    font-size: 24px;
}

.content__text {
    font-size: 18px;
    color: #7FFFD4;
}

.user__info {
    height: 100vh;
    background-color: #0f6c7a;
}

.img-container img{
    border-radius: 10px;
    margin: 30px;
    height: 200px;
    width: 200px;
}

.goals li{
    margin: 30px;
}

.hr-activity {
    margin-top: 15px;
}

.hr-activity__item {
    background-color: #0c3a46;
    border-radius: 20px;
    padding: 20px;
}

.ct-label {
    color: white;
    stroke: white;
}

.ct-grids line {
    stroke: rgba(255, 255, 255, 0.53);
}

.ct-series-a .ct-line {
    stroke: aquamarine;
    stroke-dasharray: 20px 5px;
}

.ct-series-a .ct-point {
    stroke: aqua;
}

.chart-hr {
    padding-left: 0;
}

.form-sign {
    background:#0f6c7a;
    border-radius: 25px;
    padding: 10%;
    margin-top: 15%;
}

.btn-rounded {
    border-radius: 25px;
}

.list__text {
    margin: 50px;
}

.list__item {
    background:#0f6c7a;
    border-radius: 25px;
    padding: 2%;
}

.dtp-select-day:hover {
    color: white !important;
}

.year-picker-item {
    color: black;
}

.dtp-content {
    border-radius: 20px !important;
}

#table {
    color: white;
}

#circles-1 {
    margin: 20px;
}

.table-bordered {
    border: none;
}

.table-bordered tbody tr:hover{
    color: aqua;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .navbar-brand img {
        height: 35px;
    }

    .content__greeting {
        height: auto;
    }
}

